.inputArea{
    border:1px solid black;
  }

.commentForm div{
  display:flex;
  flex-direction: column;
  margin-top:10px;
}

.commentForm{
  padding:10px;
  background-color:#384a62;
  color:white;
  border-radius:2px;
}

.submitComment{
  width:100%;
  background-color:#384a62;
  color:#fa7d70;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:5px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
  margin-top:10px;
  border:1px solid #fa7d70;
}

.submitComment:hover{
  background-color: #fa7d70;
  color:#384a62;
  cursor: pointer;
}