.loginSection{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: #fa7d71;
  height:76vh;
}

.outsideFormP {
  width:60%;
  text-align: center;
}

.loginForm{
  border:2px solid #d66a5f;
  height:50vh;
  width:65%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  background-color:white;
  margin-bottom:10px;
  margin-top:10px;
  padding:20px;
  border-radius:5px;
}
  
.loginForm h2{
  font-size:22px;
}

.loginForm form{
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.formInput{
  border: 2px solid #e2c6b4;
  background-color:#f5d8c6;
  border-radius:2px;
}

.submitButton{
  width:100%;
  background-color:#384a62;
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:5px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
}

.loginInputBox{
  display:flex;
  flex-direction: column;
  width:100%;
}

.submitButton:hover{
  background-color: #7496a2;
  cursor: pointer;
}

.demo{
  font-size: 11px;
  padding: 5px;
  width:100%;
  text-align:center;
  border-radius: 2px;
  border: 1px solid black;
}

.loginSection a{
  color:black;
}

#error{
  color:red;
}

#error p{
  width:100%;
  font-size: 14px;
}

@media only screen and (min-width: 700px) {
  .loginForm{
    width:50%;
  }
}

@media only screen and (min-width: 900px) {
  .loginForm{
    width:40%;
  }
}

@media only screen and (min-width: 1000px) {
  .loginForm{
    width:30%;
  }
}